* {
  margin:0;
  padding:0;
}

body {
  background:url(../img/bg.jpg) #b6edfa no-repeat;
}

img {
  width:250px;
  height:120px;
  margin:0 0 0 270px;
}

.image {
  width:100%;
  height:120px;
  margin:0 auto;
  background:url(../img/bg1.png)no-repeat top center;

}

table{
  margin:0 auto;
  line-height:2;
}

table .td1 {
  text-align:center;

}


table .td1 input{
  margin-left:80px;
}

table .RowButton {
width:150px;
height:30px;
 background:none;
}

table .RowInput {
  height:25px;
  width:180px;
}

table .submit1 {
  text-align:right;

}


table .submit1 input {
    width:80px;
  height:30px;
}

table .reset1 input {
   width:80px;
  height:30px;
}


.pdf iframe {
  margin:0 0 0 -5px;
}

#showdialog {
  text-align:center;
}


.sub_res input{
   width:80px;
  height:30px;
}
