@charset "utf-8";
/* CSS Document */
.divClass {
	height: 200px;
}
table {
	width: 250px;
	color: #000;
	background-color: #CCC;
	text-align: center;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000;
	text-align: left;
	background-image: url(../image/background.jpg);
	background-color: #FFF;
}
.tableCss {
	width: 230px;
	color: #CCC;
}
.buttonClass {
	width: 130px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #69F;
}
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: 900;
	color: #06F;
	text-align: center;
}
.submitClass {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 100px;
	vertical-align: middle;
}
label.error {
	font-weight: bold;
	color: #F00;
	display: block;
}
input.error, select.error  {
  background: #FFA9B8;
  border: 1px solid red;
}
