@charset "utf-8";
/* CSS Document */

.resultDivClass {
	color: #000;
	margin-top: 60px;
	width: 1200px;
}
body {
	background-image: url(../image/background.jpg);
}
.mainTableClass {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	color: #000;
	background-color: #CCC;
	vertical-align: middle;
	width: 1200px;
}
th {
	font-weight: bolder;
}
